
__pycache__/ScrollableFrameUtil.cpython-310.pyc
__pycache__/Patients.cpython-310.pyc
__pycache__/Nurses.cpython-310.pyc
__pycache__/Main.cpython-310.pyc
__pycache__/Doctors.cpython-310.pyc
__pycache__/Dashboard.cpython-310.pyc
__pycache__/Appointments.cpython-310.pyc
.idea/workspace.xml
